body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

body {
  background: #b3b3b3; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

button {
  cursor: pointer;
  border: 2px solid darkgray;
  color: aqua;
  box-shadow: inset 0 0 15px 2px #4d4d4d;
  min-width: 100px;
  padding: 10px 20px;
  background: gray; }
  button:hover {
    color: aqua; }

#root {
  height: 100%;
  width: 100%; }

.App {
  height: calc(100% - 60px);
  margin: 0 10px;
  padding: 50px;
  border: 10px solid darkgray;
  background: gray;
  color: white;
  box-shadow: inset 0 0 15px 2px #4d4d4d; }

.Exits {
  margin: 20px 0; }
  .Exits li {
    cursor: pointer;
    color: aqua;
    display: inline;
    margin-right: 20px; }

.TextWindow {
  margin: 20px 0; }
